.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  max-height: 60px;
}

.dark-header-container {
  background-color: #212121;
}

.light-header-container {
  background-color: #ffffff;
}

.website-logo-header {
  width: 98px;
  height: 28px;
}

.control-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.control-btn {
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
}

.icons {
  font-size: 20px;
}

.dark-icons {
  color: #ffffff;
}

.light-icons {
  color: #000000;
}

/* Menu Popup Container */

.menu-popup-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu-popup-container-dark {
  background-color: #181818;
}

.menu-popup-container-light {
  background-color: #ffffff;
}

.menu-close-container {
  display: flex;
  justify-content: flex-end;
  padding: 24px;
}

.menu-close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 32px;
}

/* Close Icon */

.menu-close-button-dark {
  color: #ffffff;
}

.menu-close-button-light {
  color: #181818;
}

/* Menu List */

.menu-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.menu-link {
  text-decoration: none;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 90px;
  gap: 20px;
}

/* Active Route */

.active-menu-dark {
  background-color: #383838;
}

.active-menu-light {
  background-color: #e2e8f0;
}

/* Icons */

.menu-icon {
  font-size: 20px;
  color: #909090;
}

.active-icon {
  color: #ff0000;
}

/* Text */

.menu-text {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}

.menu-text-dark {
  color: #ffffff;
}

.menu-text-light {
  color: #181818;
}

/* Logout Container*/
.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background: transparent;
  border: none;
  width: auto;

  display: flex;
  justify-content: center;
  flex: 1;
}

.logout-popup-container {
  width: 90%;
  max-width: 280px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 24px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-popup-container-light {
  background-color: #ffffff;
}

.logout-popup-container-dark {
  background-color: #212121;
}

.logout-description {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Roboto';
  text-align: center;
  margin-bottom: 32px;
}

.logout-description-light {
  color: #00306e;
}

.logout-description-dark {
  color: #ffffff;
}

.logout-button-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logout-button {
  width: 90px;
  height: 40px;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}

.cancel-btn {
  background-color: transparent;
  border: 1px solid #94a3b8;
  color: #94a3b8;
}

.confirm-btn {
  border: none;
  background-color: #3b82f6;
  color: #ffffff;
}
