/* HEADER */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-height: 60px;
}

.light-header-container {
  background-color: #ffffff;
}

.dark-header-container {
  background-color: #212121;
}

.website-logo-header {
  width: 98px;
  height: 28px;
}

.control-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.control-btn {
  background-color: transparent;
  border: none;
  outline: none;
}

.icons {
  font-size: 20px;
}

.light-icons {
  color: #000000;
}

.dark-icons {
  color: #ffffff;
}

/* PROFILE */

.profile-icon {
  width: 30px;
}

/* DESKTOP LOGOUT BUTTON */

.desktop-logout-btn {
  width: 80px;
  height: 30px;
  border-radius: 3px;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
}

.desktop-logout-btn-light {
  border: 1px solid #3b82f6;
  color: #3b82f6;
}

.desktop-logout-btn-dark {
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* MOBILE MENU  */

.menu-popup-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu-popup-container-light {
  background-color: #ffffff;
}

.menu-popup-container-dark {
  background-color: #181818;
}

.menu-close-container {
  display: flex;
  justify-content: flex-end;
  padding: 24px;
}

.menu-close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-close-button-light {
  color: #181818;
}

.menu-close-button-dark {
  color: #ffffff;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.menu-link {
  text-decoration: none;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 90px;
}

.active-menu-light {
  background-color: #e2e8f0;
}

.active-menu-dark {
  background-color: #383838;
}

.menu-icon {
  font-size: 20px;
  color: #909090;
}

.active-icon {
  color: #ff0000;
}

.menu-text {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}

.menu-text-light {
  color: #181818;
}

.menu-text-dark {
  color: #ffffff;
}

/* LOGOUT POPUP */

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background: transparent;
  border: none;
  width: auto;
  display: flex;
  justify-content: center;
}

.logout-popup-container {
  width: 90%;
  max-width: 280px;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-popup-container-light {
  background-color: #ffffff;
}

.logout-popup-container-dark {
  background-color: #212121;
}

.logout-description {
  font-size: 15px;
  font-family: 'Roboto';
  text-align: center;
  margin-bottom: 32px;
}

.logout-description-light {
  color: #00306e;
}

.logout-description-dark {
  color: #ffffff;
}

.logout-button-container {
  display: flex;
  gap: 16px;
}

.logout-button {
  width: 90px;
  height: 40px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}

.cancel-btn {
  background-color: transparent;
  border: 1px solid #94a3b8;
  color: #94a3b8;
}

.confirm-btn {
  border: none;
  background-color: #3b82f6;
  color: #ffffff;
}

/* RESPONSIVE */

.sm-menu-icon,
.sm-logout-icon {
  display: block;
}

.md-user-icon-account,
.md-logout-button {
  display: none;
}

@media screen and (min-width: 768px) {
  .sm-menu-icon,
  .sm-logout-icon {
    display: none;
  }

  .md-user-icon-account,
  .md-logout-button {
    display: block;
  }
}
