.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  max-height: 60px;
}

.dark-header-container {
  background-color: #212121;
}

.light-header-container {
  background-color: #ffffff;
}

.website-logo-header {
  width: 98px;
  height: 28px;
}

.control-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.control-btn {
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
}

.icons {
  font-size: 20px;
}

.dark-icons {
  color: #ffffff;
}

.light-icons {
  color: #000000;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background: transparent;
  border: none;
  width: auto;

  display: flex;
  justify-content: center;
  flex: 1;
}

.logout-popup-container {
  width: 90%;
  max-width: 280px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 24px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-popup-container-light {
  background-color: #ffffff;
}

.logout-popup-container-dark {
  background-color: #212121;
}

.logout-description {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Roboto';
  text-align: center;
  margin-bottom: 32px;
}

.logout-description-light {
  color: #00306e;
}

.logout-description-dark {
  color: #ffffff;
}

.logout-button-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logout-button {
  width: 90px;
  height: 40px;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}

.cancel-btn {
  background-color: transparent;
  border: 1px solid #94a3b8;
  color: #94a3b8;
}

.confirm-btn {
  border: none;
  background-color: #3b82f6;
  color: #ffffff;
}
